.no-page {
  width: 100vw;
  height: 100vh;
  background-color: #eae7de;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 90%;
}

.no-image {
  max-width: 100%;
  max-height: 30vh;
  object-fit: contain;
}

.back-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #eae7de;
}

.no-text {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  text-align: center;
  padding: 20px;
  font: arial;
}

@media (max-width: 768px) {
  .no-content {
    gap: 15px;
    max-width: 95%;
  }
  
  .no-image {
    max-height: 25vh;
  }
  
  .no-text {
    font-size: 18px;
    padding: 15px;
  }
  
  .back-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}
